body {
  background-color: black;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 30%;
  margin: auto;
}

h3 {
  text-align: center;
  color: brown;
}

#result {
  color: green;
}